@model GroupProject.Models.Account

@{
    ViewData["Title"] = "Search Accounts";
    var userName = Context.Session.GetString("UserName"); // fetch username (used to check if a userName session variable exists)
}

<h1>Search Accounts</h1>

@{
    if (userName != null) // check if userName isnt null
    {
<form asp-action="Search" method="post">
    <div class="form-group">
        <label asp-for="UserId">User ID</label>
        <input type="number" name="userId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AccountName">Account Name</label>
        <input type="text" name="accountName" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<br />
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
    }
    else
    {
        <h2>Please Login to View.</h2>
    }
}

@* <div>
    <br></br>
    @await Html.PartialAsync("_Account", Model)
</div> *@