@model GroupProject.Models.User

@{
    ViewData["Title"] = "Logout";
}


<h2>You have logged out.</h2>

<div>
    <br />
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Continue</a>

</div>